body {  
  font-family: 'Dancing Script', cursive;
  transition: background-image 4.5s;
}

.hidden {
  display: none;
}

#todo,
#weather,
#main,
#color-box-1,
#color-box-2,
#color-box-3,
#color-box-4 {
  position: absolute;
}

#todo-title,
#todo-form,
#todo-input,
#clock,
#day,
#login-form,
#login-input,
#greeting{
  text-align: end;
}

#todo-title,
#todo-input,
#todo-list li,
#todo-list li button,
::placeholder,
#weather,
#clock,
#day,
#login-input,
#greeting {
  color: white;
}

#todo {
  right: 120px;
  top: 40px;
  z-index:5;
}

#todo-title {
  font-size: 60px;
  margin: 0;
}

#todo-input {
  background-color: transparent;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  width: 100%;
  caret-color: white;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
}

#todo-list {
  max-height: 20vh;
  overflow: auto;
}

#todo-list li {
  font-family: 'Poiret One', cursive;
  padding: 6px;
  font-size: 20px;
  border-bottom: 1.5px solid #fff;
}

#todo-list li button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 6px;
  transition: color 0.2s;
}

#todo-list li button:hover {
  color: red;
}


#weather {
  right: 20px;
  bottom: 400px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  z-index:5;
}

#weather h2 {
  margin: 0;
}

#main{
  right: 100px;
  bottom: 40px;
  z-index:5;
}

#clock {
  font-family: 'Monoton';
  font-size: 1030%;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}

#day {
  font-size: 60px;
  margin: 0;
}

#login-input {
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  width: 600px;
  caret-color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: 0;
  list-style: none;
}

#greeting {
  font-family: 'Dancing script', cursive;
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}




#color-box-1,
#color-box-2,
#color-box-3,
#color-box-4 {
  right: 0px;
  bottom: 0px;
  width: 0;
  height: 0;
}

#color-box-1 {
  border-bottom: 1500px solid #E16034;
  border-left: 950px solid transparent;
  z-index: 4;
}

#color-box-2 {
  border-bottom: 1700px solid #E2B339;
  border-left: 1000px solid transparent;
  z-index: 3;
}

#color-box-3 {
  border-bottom: 1900px solid #7F9645;
  border-left: 1050px solid transparent;
  z-index: 2;
}

#color-box-4 {
  border-bottom: 2100px solid #40929E;
  border-left: 1100px solid transparent;
  z-index: 1;
}

